.grid .row {
  display: flex;
}
.grid > .row .cell {
  width: 18px;
  height: 18px;
  box-shadow: 0 0 1px 0px rgb(163, 162, 162);
  line-height: 18px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color: inherit;
}
.grid {
  margin-top: 42px;
  border: 12px solid black;
  border-radius: 12px
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
}

.upper-bar {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.score {
  font-weight: bold;
  background-color: black;
  text-align: right;
  padding: 0 0px 0 0;
  line-height: 42px;
  color: white;
}

.sidecar {
  width:70px;
  padding: 0 12px;
}
.next-piece{
  /* margin-top:100px; */
  /* line-height: 60px; */
  margin: 4px 4px 4px 0px;
}
.next-piece .row {
  display: flex;
}
.next-piece .cell {
  width: 12px;
  height: 12px;
  /* box-shadow: 0 0 1px 0px rgb(163, 162, 162); */
  line-height: 18px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color: inherit;
}
.button-wrapper {
  display: flex;
  justify-content: center;

}

.button-wrapper button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button-wrapper button:hover,
.button-wrapper button:focus {
  /* background: #0053ba; */
  background: transparent;
}

.button-wrapper button:focus {
    outline: none;
    outline-offset: -4px;
}
.button-wrapper button:active {
    transform: scale(0.99);
}
